name: Check

on:
  - push
  - pull_request

jobs:
  build:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.x
          cache: pip

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox -e ruff
