name: Documentation

on:
  - push
  - pull_request

jobs:
  build:
    name: Documentation
    # https://github.com/python-ldap/python-ldap/blob/main/.github/workflows/ci.yml
    runs-on: ubuntu-22.04

    env:
      TOXENV: docs

    steps:
      - name: Install LDAP libs
        run: |
          sudo apt update
          # https://github.com/python-ldap/python-ldap/blob/main/.github/workflows/ci.yml
          sudo apt install -y ldap-utils slapd enchant-2 libldap2-dev libsasl2-dev apparmor-utils
          sudo aa-disable /usr/sbin/slapd

      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: pip

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox
