name: Upload release to PyPI
on:
  release:
    types: [published]

jobs:
  build:
    name: Build distribution files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
          cache: pip

      - name: Install dependencies
        run: pip install --user build setuptools twine wheel

      - name: Build package
        run: python -m build

      - name: Verify package
        run: twine check --strict dist/*

      - name: Upload package to GitHub
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: Publish to PyPI
      url: https://pypi.org/p/django-auth-ldap
    permissions:
      id-token: write
    steps:
      - name: Retrieve artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
