name: Upload release to PyPI
on:
  release:
    types: [published]

jobs:
  build:
    name: Build distribution files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.x
          cache: pip

      - name: Install dependencies
        run: pip install --user build setuptools twine wheel

      - name: Build package
        run: python -m build

      - name: Verify package
        run: twine check --strict dist/*

      - name: Upload package to GitHub
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: Publish to PyPI
      url: https://pypi.org/p/django-auth-ldap
    permissions:
      id-token: write
    steps:
      - name: Retrieve artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
