name: Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Python ${{ matrix.python-version }} / ${{ matrix.tox-environment }}
    # https://github.com/python-ldap/python-ldap/blob/main/.github/workflows/ci.yml
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        # https://docs.djangoproject.com/en/dev/faq/install/#what-python-version-can-i-use-with-django
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - name: Install LDAP libs
        run: |
          sudo apt-get update
          # https://github.com/python-ldap/python-ldap/blob/main/.github/workflows/ci.yml
          sudo apt install -y ldap-utils slapd enchant-2 libldap2-dev libsasl2-dev apparmor-utils
          sudo aa-disable /usr/sbin/slapd

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: python -m pip install tox-gh

      - name: Run tests
        run: tox
