name: Test

on:
  - push
  - pull_request

jobs:
  test:
    name: Python ${{ matrix.python-version }} / ${{ matrix.tox-environment }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.8
        tox-environment:
          - django22
          - django30
          - django31
          - djangomaster

    env:
      TOXENV: ${{ matrix.tox-environment }}

    steps:
      - name: Install LDAP libs
        run: |
          sudo apt-get update
          # https://www.python-ldap.org/en/latest/installing.html#debian
          sudo apt-get install slapd ldap-utils libldap2-dev libsasl2-dev
          # https://github.com/python-ldap/python-ldap/issues/370
          sudo apt-get install apparmor-utils
          sudo aa-disable /usr/sbin/slapd

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run tests
        run: tox
